body {
  font-family: Golos Text;
}
.display-1 {
  font-family: 'Golos Text', sans-serif;
  font-size: 4.25rem;
  line-height: 68px;
}
.display-1 > .mbr-iconfont {
  font-size: 5.3125rem;
}
.display-2 {
  font-family: 'Golos Text', sans-serif;
  font-size: 3.125rem;
  line-height: 55px;
}
.display-2 > .mbr-iconfont {
  font-size: 3.90625rem;
}
.display-4 {
  font-family: 'Golos Text', sans-serif;
  font-size: 1rem;
  line-height: 1.55;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Golos Text', sans-serif;
  font-size: 2rem;
  line-height: 38px;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Golos Text', sans-serif;
  font-size: 1.5rem;
  line-height: 31px;
}
.display-7 > .mbr-iconfont {
  font-size: 1.875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.975rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.5rem;
    font-size: calc( 1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 30px;
}
.bg-primary {
  background-color: #f5fd7b !important;
}
.bg-success {
  background-color: #9a5bed !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #ff9553 !important;
}
.bg-danger {
  background-color: #ff6e53 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f5fd7b !important;
  border-color: #f5fd7b !important;
  color: #707702 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #202201 !important;
  background-color: #effc26 !important;
  border-color: #effc26 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #707702 !important;
  background-color: #effc26 !important;
  border-color: #effc26 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #6567ee !important;
  border-color: #6567ee !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #191ce3 !important;
  border-color: #191ce3 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #191ce3 !important;
  border-color: #191ce3 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #9a5bed !important;
  border-color: #9a5bed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #6b18d9 !important;
  border-color: #6b18d9 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6b18d9 !important;
  border-color: #6b18d9 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff9553 !important;
  border-color: #ff9553 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #fb6000 !important;
  border-color: #fb6000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #fb6000 !important;
  border-color: #fb6000 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff6e53 !important;
  border-color: #ff6e53 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #fb2700 !important;
  border-color: #fb2700 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #fb2700 !important;
  border-color: #fb2700 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f5fd7b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #effc26 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #707702 !important;
  background-color: #f5fd7b !important;
  border-color: #f5fd7b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6567ee;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #191ce3 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #6567ee !important;
  border-color: #6567ee !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #9a5bed;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #6b18d9 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9a5bed !important;
  border-color: #9a5bed !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9553;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #fb6000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9553 !important;
  border-color: #ff9553 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6e53;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #fb2700 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6e53 !important;
  border-color: #ff6e53 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f5fd7b !important;
}
.text-secondary {
  color: #6567ee !important;
}
.text-success {
  color: #9a5bed !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #ff9553 !important;
}
.text-danger {
  color: #ff6e53 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #edfb17 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #181ad5 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #6516cc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ec5b00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ec2500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f5fd7b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #ff9553;
}
.alert-danger {
  background-color: #ff6e53;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f5fd7b;
  border-color: #f5fd7b;
  color: #889002;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f5fd7b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Golos Text', sans-serif;
  font-size: 1rem;
  line-height: 1.55;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f5fd7b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Golos Text', sans-serif;
  font-size: 1rem;
  line-height: 1.55;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #f5fd7b;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f5fd7b;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f5fd7b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f5fd7b;
  border-bottom-color: #f5fd7b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f5fd7b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #6567ee !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f5fd7b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  box-shadow: none;
  border: none;
  min-height: 65px;
  padding: 20px 90px;
}
@media (max-width: 1200px) {
  .mbr-section-btn .btn,
  .mbr-section-btn-main .btn {
    padding: 20px 50px;
  }
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  box-shadow: none;
}
.cid-usYSna28tq {
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-usYSna28tq .mbr-fallback-image.disabled {
  display: none;
}
.cid-usYSna28tq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-usYSna28tq .content-wrapper .mbr-section-title {
  margin-bottom: 10px;
}
.cid-usYSna28tq .content-wrapper .desc-wrapper .mbr-desc {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .cid-usYSna28tq .content-wrapper .desc-wrapper .mbr-desc {
    width: 100%;
  }
}
.cid-usYSna28tq .content-wrapper .text-wrapper {
  margin-top: 100px;
}
@media (max-width: 992px) {
  .cid-usYSna28tq .content-wrapper .text-wrapper {
    margin-bottom: 48px;
  }
}
.cid-usYSna28tq .content-wrapper .text-wrapper .mbr-text {
  display: inline-block;
  width: 50%;
  margin-bottom: 36px;
  background: linear-gradient(90deg, #3b6bff, #6e92ff 65%, #a1b8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 992px) {
  .cid-usYSna28tq .content-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-usYSna28tq .mbr-section-title {
  color: #ffffff;
}
.cid-usYSna28tq .mbr-desc,
.cid-usYSna28tq .desc-wrapper {
  color: #9aa0a6;
  text-align: center;
}
.cid-usYSna28tq .mbr-text,
.cid-usYSna28tq .text-wrapper {
  color: #ffffff;
  text-align: center;
}
.cid-usYSna28tq .mbr-section-title,
.cid-usYSna28tq .mbr-section-btn {
  text-align: center;
}
.cid-usYN89nuTB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #0e0e10;
}
.cid-usYN89nuTB .mbr-fallback-image.disabled {
  display: none;
}
.cid-usYN89nuTB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-usYN89nuTB .container {
    padding: 0 20px;
  }
}
.cid-usYN89nuTB .row {
  margin: 0;
}
.cid-usYN89nuTB .mbr-section-title {
  margin-bottom: 50px;
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-usYN89nuTB .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-usYN89nuTB .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 450px;
  max-width: 450px;
}
@media (max-width: 768px) {
  .cid-usYN89nuTB .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-usYN89nuTB .embla__slide .card-wrap .item-wrapper .image-wrap img {
  height: 450px;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .cid-usYN89nuTB .embla__slide .card-wrap .item-wrapper .image-wrap img {
    height: 300px;
  }
}
.cid-usYN89nuTB .embla__slide .card-wrap .content-wrap .mbr-name {
  margin-bottom: 32px;
}
.cid-usYN89nuTB .embla__slide .card-wrap .content-wrap .mbr-text {
  margin-bottom: 0;
}
.cid-usYN89nuTB .embla__button--next,
.cid-usYN89nuTB .embla__button--prev {
  display: flex;
}
.cid-usYN89nuTB .embla__button {
  bottom: -4rem;
  width: 50px;
  height: 50px;
  margin-top: -1.5rem;
  font-size: 24px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #f5fd7b;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-usYN89nuTB .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-usYN89nuTB .embla__button:hover {
  background: #f5fd7b;
  color: #000000;
}
.cid-usYN89nuTB .embla__button.embla__button--prev {
  left: 0;
  margin-left: 0;
}
.cid-usYN89nuTB .embla__button.embla__button--next {
  right: auto;
  left: 4rem;
  margin-right: 0;
}
@media (max-width: 767px) {
  .cid-usYN89nuTB .embla__button {
    top: auto;
  }
}
.cid-usYN89nuTB .embla {
  position: relative;
  width: 100%;
}
.cid-usYN89nuTB .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-usYN89nuTB .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-usYN89nuTB .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-usYN89nuTB .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-usYN89nuTB .mbr-name {
  color: #f5fd7b;
}
.cid-usYN89nuTB .mbr-text {
  color: #ffffff;
}
.cid-usYOrYgDNq {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-usYOrYgDNq .item-img,
.cid-usYOrYgDNq .img-wrap,
.cid-usYOrYgDNq img {
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
}
.cid-usYOrYgDNq img,
.cid-usYOrYgDNq .item-img {
  width: 230px;
  overflow: hidden;
  transition: transform 3s;
  cursor: pointer;
  object-fit: cover;
  min-height: 230px;
  height: 230px;
}
@media (max-width: 1600px) {
  .cid-usYOrYgDNq img,
  .cid-usYOrYgDNq .item-img {
    width: 180px;
    min-height: 180px;
    height: 180px;
  }
}
.cid-usYOrYgDNq .item-img {
  border: 1px solid transparent;
  transition: all 0.3s;
}
.cid-usYOrYgDNq .item:focus,
.cid-usYOrYgDNq span:focus {
  outline: none;
}
.cid-usYOrYgDNq .img-wrap {
  transition: all 0.3s;
  overflow: hidden;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.cid-usYOrYgDNq .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-usYOrYgDNq .item {
    margin-bottom: 1rem;
  }
}
.cid-usYOrYgDNq h5 {
  margin: 0;
}
.cid-usYOrYgDNq .item-content {
  margin-top: 1rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-usYOrYgDNq .item-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  transition: all 0.3s;
}
.cid-usYOrYgDNq .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-usYOrYgDNq .item-wrapper:hover .item-img {
  border: 1px solid lightgray;
}
.cid-usYOrYgDNq .item-wrapper:hover .img-wrap {
  margin: 10px;
}
@media (max-width: 992px) {
  .cid-usYOrYgDNq .item-wrapper {
    height: auto;
  }
}
.cid-usYOrYgDNq .mbr-section-title {
  color: #4e423d;
  text-align: left;
}
.cid-usYOrYgDNq .item-title {
  text-align: center;
}
.cid-usYOrYgDNq .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-usYOrYgDNq .mbr-text,
.cid-usYOrYgDNq .item .mbr-section-btn {
  text-align: center;
}
.cid-usYOrYgDNq .mbr-section-subtitle,
.cid-usYOrYgDNq .mbr-section-head .mbr-section-btn {
  text-align: left;
}
.cid-usYOPN2axB {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(to bottom, #ffbf31, #ffffff);
}
.cid-usYOPN2axB .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-usYOPN2axB .team-card:hover {
  transform: translateY(-10px);
}
@media (min-width: 1400px) {
  .cid-usYOPN2axB .col-lg-3 {
    padding: 0 1.5rem;
  }
}
.cid-usYOPN2axB .mbr-role {
  border-bottom: 1px solid currentColor;
  padding-bottom: 1rem;
}
.cid-usYOPN2axB .image-wrap {
  overflow: hidden;
  min-height: 500px;
  border-radius: 0.8rem;
}
@media (max-width: 991px) {
  .cid-usYOPN2axB .item {
    margin-bottom: 2rem;
  }
}
.cid-usYOPN2axB .card-wrap {
  height: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.cid-usYOPN2axB .card-wrap:hover img {
  transform: scale(1.05);
}
@media (max-width: 991px) {
  .cid-usYOPN2axB .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-usYOPN2axB .card-wrap .image-wrap img {
  width: 100%;
  transition: all 0.3s;
  height: 500px;
  object-fit: cover;
}
.cid-usYOPN2axB .card-wrap .content-wrap {
  margin: auto;
}
.cid-usYOPN2axB .content-wrap {
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.cid-usYOPN2axB .icons-menu {
  display: flex;
}
.cid-usYOPN2axB .iconfont-wrapper {
  font-size: 1.2rem;
  margin-right: 1rem;
  display: block;
  position: relative;
}
.cid-usYOPN2axB .mbr-iconfont {
  position: relative;
  fomt-size: 1rem;
  color: #232323;
}
.cid-usYOPN2axB .card-text,
.cid-usYOPN2axB .mbr-section-btn,
.cid-usYOPN2axB .social-row {
  color: #232323;
}
.cid-usYOPN2axB .mbr-role,
.cid-usYOPN2axB .social-row {
  color: #232323;
}
.cid-usYOPN2axB .card-title,
.cid-usYOPN2axB .social-row {
  color: #232323;
}
.cid-usYOPN2axB .mbr-section-title {
  color: #232323;
  text-align: left;
}
.cid-usYOPN2axB .mbr-section-subtitle {
  text-align: left;
}
.cid-usYP9IJixz {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #04492e;
}
.cid-usYP9IJixz .mbr-fallback-image.disabled {
  display: none;
}
.cid-usYP9IJixz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-usYP9IJixz .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-usYP9IJixz .team-card:hover {
  transform: translateY(-10px);
}
.cid-usYP9IJixz .card-wrap {
  background: #fafaf9;
  overflow: hidden;
  border-radius: 2rem;
  transition: all 0.3s;
}
@media (max-width: 991px) {
  .cid-usYP9IJixz .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-usYP9IJixz .card-wrap .image-wrap img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .cid-usYP9IJixz .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-usYP9IJixz .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-usYP9IJixz .card-wrap:hover {
  transform: scale(1.05);
}
.cid-usYP9IJixz .social-row {
  text-align: center;
}
.cid-usYP9IJixz .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #04492e;
  transition: all 0.3s;
}
.cid-usYP9IJixz .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #04492e;
  font-size: 1.5rem;
}
.cid-usYP9IJixz .social-row .soc-item:hover {
  background-color: #04492e;
}
.cid-usYP9IJixz .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-usYP9IJixz .mbr-section-title {
  color: #ffffff;
}
.cid-usYP9IJixz .card-title,
.cid-usYP9IJixz .social-row {
  color: #04492e;
}
.cid-usYP9IJixz .mbr-role,
.cid-usYP9IJixz .social-row {
  color: #04492e;
}
.cid-usYPpzsKZf {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #000000;
}
.cid-usYPpzsKZf .mbr-fallback-image.disabled {
  display: none;
}
.cid-usYPpzsKZf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-usYPpzsKZf .card-text a {
  display: inline-block;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.cid-usYPpzsKZf .card-text a:hover {
  border: none;
}
.cid-usYPpzsKZf .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-usYPpzsKZf .team-card:hover {
  transform: translateY(-10px);
}
.cid-usYPpzsKZf .row {
  background: #000000;
  border-radius: 3rem;
  padding: 6rem 1rem;
  margin: 0;
}
.cid-usYPpzsKZf .card-wrap {
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-usYPpzsKZf .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-usYPpzsKZf .card-wrap .image-wrap img {
  max-width: 250px;
  max-height: 250px;
  margin: auto;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .cid-usYPpzsKZf .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-usYPpzsKZf .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-usYPpzsKZf .social-row {
  text-align: center;
}
.cid-usYPpzsKZf .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #ffffff;
  transition: all 0.3s;
}
.cid-usYPpzsKZf .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  font-size: 1.5rem;
}
.cid-usYPpzsKZf .social-row .soc-item:hover {
  background-color: #ffffff;
}
.cid-usYPpzsKZf .social-row .soc-item:hover .mbr-iconfont {
  color: #000000;
}
.cid-usYPpzsKZf .mbr-section-title {
  color: #ffffff;
}
.cid-usYPpzsKZf .mbr-role,
.cid-usYPpzsKZf .social-row {
  color: #ffffff;
}
.cid-usYPpzsKZf .card-text,
.cid-usYPpzsKZf .mbr-section-btn,
.cid-usYPpzsKZf .social-row {
  color: #ffffff;
}
.cid-usYPpzsKZf .mbr-section-subtitle {
  color: #f5fd7b;
}
.cid-usYOtQdsiZ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #e5f1f2;
}
.cid-usYOtQdsiZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-usYOtQdsiZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-usYOtQdsiZ img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50% !important;
  margin: auto;
  margin-bottom: 1.5rem;
}
.cid-usYOtQdsiZ .mbr-iconfont {
  margin: auto;
  display: inline-flex;
  font-size: 1.5rem;
  color: #ca9236;
  width: 30px;
  justify-content: center;
  align-items: center;
}
.cid-usYOtQdsiZ .card-title,
.cid-usYOtQdsiZ .iconfont-wrapper {
  color: #232323;
}
.cid-usYOtQdsiZ .card-text {
  color: #232323;
}
.cid-usYOtQdsiZ .mbr-section-title {
  color: #4e423d;
}
.cid-usYOtQdsiZ .mbr-section-subtitle {
  color: #232323;
}
.cid-usYOtQdsiZ .content-head {
  max-width: 800px;
}
.cid-usYOtQdsiZ .card-subtitle {
  color: #a1a1a1;
}
.cid-usYOnMW0Ym {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-usYOnMW0Ym .item-wrapper {
  border: solid 1px #f5fd7b;
  border-radius: 5px;
  background: #ff7d2d;
  padding: 1.5rem;
  margin-bottom: 2rem;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.3s;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-usYOnMW0Ym .item-wrapper {
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-usYOnMW0Ym .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-usYOnMW0Ym .item-wrapper:hover {
  top: -10px;
  transition: all ease-in-out 0.3s;
}
.cid-usYOnMW0Ym .item-wrapper:hover .img-wrapper {
  filter: grayscale(0);
  transition: all ease-in-out 0.3s;
}
.cid-usYOnMW0Ym .item-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50% !important;
  border: solid 1px #f5fd7b;
}
.cid-usYOnMW0Ym .card-box__top {
  text-align: left;
}
.cid-usYOnMW0Ym .card-box__top {
  text-align: right;
}
.cid-usYOnMW0Ym .mbr-iconfont {
  display: inline-flex;
  font-size: 2rem;
  color: #f5fd7b;
  justify-content: center;
  align-items: center;
  border: solid 1px #f5fd7b;
  border-radius: 50%;
  padding: 8px;
}
.cid-usYOnMW0Ym .card-title,
.cid-usYOnMW0Ym .iconfont-wrapper {
  color: #000000;
}
.cid-usYOnMW0Ym .card-text {
  color: #000000;
  text-align: left;
}
.cid-usYOnMW0Ym .content-head {
  max-width: 800px;
}
.cid-usYOnMW0Ym .mbr-section-title {
  color: #ff4e2d;
}
.cid-usYOnMW0Ym .card-title,
.cid-usYOnMW0Ym .img-wrapper {
  text-align: left;
  color: #000000;
}
.cid-usYOnMW0Ym .img-wrapper {
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
  transition: all ease-in-out 0.3s;
  position: relative;
  padding-bottom: 100%;
  text-align: right;
}
.cid-usYOnMW0Ym .card-company-name {
  display: inline-flex;
  align-items: center;
  border: solid 1px currentColor;
  text-align: left;
  padding: 3px 8px;
  border-radius: 20px;
  line-height: 1;
}
.cid-usYOnMW0Ym .card-company-name span {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: currentColor;
  margin-right: 5px;
}
.cid-usYOnMW0Ym .card-company-name,
.cid-usYOnMW0Ym .card-box__body {
  text-align: left;
  color: #221b35;
}
.cid-usYOnMW0Ym .mbr-section-subtitle {
  color: #f2fc5a;
}
.cid-usYPiMLkxN {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  overflow: hidden;
}
.cid-usYPiMLkxN .row {
  row-gap: 40px;
}
.cid-usYPiMLkxN .mbr-section-head {
  padding-bottom: 50px;
}
.cid-usYPiMLkxN .mbr-section-title {
  color: #9b8db7;
}
.cid-usYPiMLkxN .mbr-section-subtitle {
  color: #f2fc5a;
  margin-top: 16px;
}
.cid-usYPiMLkxN .item-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.cid-usYPiMLkxN .item-img img {
  width: 100%;
  aspect-ratio: calc(37 / (11 * 3));
  object-fit: cover;
  transform: scale(1.01);
  transition: all .5s ease;
}
.cid-usYPiMLkxN .item-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: .3s all;
}
.cid-usYPiMLkxN .item-wrapper:hover .item-img img {
  transform: scale(1.05);
}
.cid-usYPiMLkxN .item-content {
  flex-grow: 1;
  padding: 31px 42px 43px;
  background-color: #f6f6f6;
}
.cid-usYPiMLkxN .item-title {
  color: #303030;
}
.cid-usYPiMLkxN .mbr-text {
  margin-bottom: 4px;
  color: #303030;
  text-decoration: underline;
}
.cid-usYPiMLkxN .icons-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 12px;
}
.cid-usYPiMLkxN .iconfont-wrapper {
  padding: 11px;
  border-radius: 50%;
  transition: opacity 0.2s ease-out;
}
.cid-usYPiMLkxN .iconfont-wrapper .mbr-iconfont {
  font-size: 14px;
  color: #303030;
  transition: all 0.2s ease-out;
}
.cid-usYPiMLkxN .iconfont-wrapper:hover {
  background-color: #efe6f7;
}
.cid-usYPiMLkxN .iconfont-wrapper:hover .mbr-iconfont {
  color: #9b8db7;
}
.cid-usYPiMLkxN .mbr-section-btn {
  margin-top: 10px;
}
.cid-usYPAdr3b1 {
  background-color: transparent;
}
.cid-usYPAdr3b1 .navbar-dropdown {
  background-color: #060606 !important;
  padding: 0;
}
.cid-usYPAdr3b1 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #060606 !important;
  background: #060606;
}
.cid-usYPAdr3b1 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-usYPAdr3b1 .menu_box {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-usYPAdr3b1 .menu_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cid-usYPAdr3b1 .menu_box .navbar.opened,
  .cid-usYPAdr3b1 .menu_box .navbar-collapse {
    background-color: #060606 !important;
    transition: all 0s ease 0s;
  }
}
.cid-usYPAdr3b1 .navbar-dropdown {
  position: relative !important;
}
.cid-usYPAdr3b1 .icons-menu-main {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  margin-left: 24px;
}
@media (max-width: 991px) {
  .cid-usYPAdr3b1 .icons-menu-main {
    min-width: auto;
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-usYPAdr3b1 .mbr-section-btn-main {
    margin-top: 1rem;
  }
}
.cid-usYPAdr3b1 .mbr-section-btn-main .btn {
  margin: 8px;
  min-width: 120px;
  white-space: nowrap;
}
.cid-usYPAdr3b1 .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-usYPAdr3b1 .btn:hover {
  box-shadow: none;
}
.cid-usYPAdr3b1 .nav-item {
  margin: 4px 0;
}
@media (min-width: 992px) {
  .cid-usYPAdr3b1 .nav-item {
    margin: 4px 40px 4px 0;
  }
}
@media (min-width: 992px) {
  .cid-usYPAdr3b1 .nav-item {
    margin: 4px 0;
  }
}
@media (max-width: 991px) {
  .cid-usYPAdr3b1 .nav-item {
    margin: 0 !important;
  }
}
.cid-usYPAdr3b1 .nav-item .nav-link {
  display: flex;
  justify-content: center;
  padding: 12px;
  transition: all 0.3s ease-out;
  border-radius: 4px !important;
  border: 1px solid transparent;
  position: relative;
  opacity: 1;
}
@media (max-width: 992px) {
  .cid-usYPAdr3b1 .nav-item .nav-link {
    justify-content: flex-start;
  }
}
.cid-usYPAdr3b1 .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #078efb;
  transition: all 0.3s ease-out;
}
.cid-usYPAdr3b1 .nav-item .nav-link:hover,
.cid-usYPAdr3b1 .nav-item .nav-link:focus {
  background-color: #252525;
  color: #078efb !important;
}
.cid-usYPAdr3b1 .nav-item .nav-link:hover::before,
.cid-usYPAdr3b1 .nav-item .nav-link:focus::before {
  width: 80%;
}
.cid-usYPAdr3b1 .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-usYPAdr3b1 .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-usYPAdr3b1 .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-usYPAdr3b1 .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-usYPAdr3b1 .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-usYPAdr3b1 .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-usYPAdr3b1 .offcanvas_box {
    display: none;
  }
}
.cid-usYPAdr3b1 .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-usYPAdr3b1 .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-usYPAdr3b1 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-usYPAdr3b1 .container {
  display: flex;
  margin: auto;
}
.cid-usYPAdr3b1 .iconfont-wrapper {
  color: #ffffff;
  font-size: 26px;
  margin-right: 10px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.cid-usYPAdr3b1 .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-usYPAdr3b1 .iconfont-wrapper:hover .mbr-iconfont {
  opacity: .7;
}
@media (min-width: 992px) {
  .cid-usYPAdr3b1 .navbar-nav {
    margin: 0;
  }
}
.cid-usYPAdr3b1 .dropdown-menu,
.cid-usYPAdr3b1 .navbar.opened {
  background-color: false !important;
}
.cid-usYPAdr3b1 .nav-item:focus,
.cid-usYPAdr3b1 .nav-link:focus {
  outline: none;
}
.cid-usYPAdr3b1 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-usYPAdr3b1 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-usYPAdr3b1 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-usYPAdr3b1 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-usYPAdr3b1 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-usYPAdr3b1 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-usYPAdr3b1 .navbar {
  min-height: 70px;
  padding: 10px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-usYPAdr3b1 .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-usYPAdr3b1 .navbar.opened {
  transition: all 0.3s;
}
.cid-usYPAdr3b1 .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-usYPAdr3b1 .navbar .navbar-logo img {
  max-width: 62px;
  min-height: 62px;
  object-fit: contain;
  border-radius: 100% !important;
}
.cid-usYPAdr3b1 .navbar .navbar-collapse {
  justify-content: center;
  justify-content: flex-end;
  z-index: 1;
}
.cid-usYPAdr3b1 .navbar.collapsed {
  justify-content: center;
}
.cid-usYPAdr3b1 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-usYPAdr3b1 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-usYPAdr3b1 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-usYPAdr3b1 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-usYPAdr3b1 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-usYPAdr3b1 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-usYPAdr3b1 .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-usYPAdr3b1 .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-usYPAdr3b1 .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 16px;
    width: 100%;
  }
  .cid-usYPAdr3b1 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-usYPAdr3b1 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-usYPAdr3b1 .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-usYPAdr3b1 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-usYPAdr3b1 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-usYPAdr3b1 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-usYPAdr3b1 .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-usYPAdr3b1 .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-usYPAdr3b1 .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-usYPAdr3b1 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .cid-usYPAdr3b1 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-usYPAdr3b1 .navbar .icons-menu {
    padding: 0;
  }
}
.cid-usYPAdr3b1 .navbar.navbar-short {
  min-height: 60px;
}
.cid-usYPAdr3b1 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-usYPAdr3b1 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-usYPAdr3b1 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-usYPAdr3b1 .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 400;
}
.cid-usYPAdr3b1 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-usYPAdr3b1 .dropdown-item.active,
.cid-usYPAdr3b1 .dropdown-item:active {
  background-color: transparent;
}
.cid-usYPAdr3b1 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 6px 16px !important;
}
.cid-usYPAdr3b1 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-usYPAdr3b1 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-usYPAdr3b1 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-usYPAdr3b1 ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-usYPAdr3b1 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-usYPAdr3b1 button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #060606;
  background: #252525;
}
.cid-usYPAdr3b1 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-usYPAdr3b1 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-usYPAdr3b1 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-usYPAdr3b1 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-usYPAdr3b1 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-usYPAdr3b1 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-usYPAdr3b1 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-usYPAdr3b1 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-usYPAdr3b1 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-usYPAdr3b1 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-usYPAdr3b1 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-usYPAdr3b1 .navbar {
    height: 70px;
  }
  .cid-usYPAdr3b1 .navbar.opened {
    height: auto;
  }
  .cid-usYPAdr3b1 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-usYPAdr3b1 .navbar-dropdown .navbar-logo {
  margin-right: 10px;
}
.cid-usYPAdr3b1 .navbar-caption:hover {
  color: #f5fd7b;
}
@media (min-width: 992px) {
  .cid-usYPAdr3b1 .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-usYPAdr3b1 .text_widget {
  margin-bottom: 32px;
}
.cid-usYPAdr3b1 .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-usYPAdr3b1 .text_widget a:hover,
.cid-usYPAdr3b1 .text_widget a:focus {
  opacity: .8;
}
@media (min-width: 992px) {
  .cid-usYPAdr3b1 .navbar-nav.nav-dropdown {
    display: -webkit-flex;
    width: 100%;
    justify-content: flex-start;
    min-width: 200px;
    padding-left: 48px;
  }
}
.cid-usYPAdr3b1 .navbar-caption {
  color: #ffffff;
}
.cid-usYPAdr3b1 .mbr-section-subtitle,
.cid-usYPAdr3b1 .text_widget,
.cid-usYPAdr3b1 .mbr-section-btn {
  text-align: center;
}
.cid-usYPAdr3b1 a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
